@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
font-family: 'Bebas Neue', cursive;
  background: url("/gym/img/bg.png") no-repeat center center fixed;
  background-size: cover;
}

div {
  
    background-color: rgba(255, 255, 255, 0.6);
    width: 60%;
    margin: 0 auto;
    text-align: center;
    border-radius: 25px;
}

button {
    background-color: rgba(255, 69, 0, 0.75);
    text-shadow: 2px 2px black;

    padding: 20px 40px;
    color: white;
    border-radius: 10px;
    font-size: 1.3em;
}

h1 {
    font-size: 4em;
}

p {
    font-size: 1.8em;
}